@use '../utils/variables' as *;
@use '../utils/mixins' as *;

body {
  font-family: $second-family;

  background-image: url('../images/png/bg-mob.png');
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    background-image: url('../images/png/bg-mob@2x.png');
  }
}

h1,
h2 {
  font-family: $font-family;
  font-weight: 700;
  font-size: 28px;
  line-height: 140%;

  @include desktop {
    font-size: 44px;
  }
}

.main {
  position: relative;
}

.container {
  margin: 0 auto;
  padding: 0 16px;
  max-width: 767px;
  width: 100%;

  @include tablet {
    padding: 0 24px;
    max-width: 1023px;
  }

  @include desktop {
    padding: 0 32px;
    max-width: 1200px;
  }
}
