$accent-color: #e9a923;
$primary-text-color: #313131;
$secondary-text-color: #585858;
$main-bg-color: #7f3a6a;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$font-family: 'Exo', sans-serif;
$second-family: 'Open Sans', sans-serif;
$third-family: 'Poppins', sans-serif;
