.about {
  margin-top: 76px;
  margin-bottom: 24px;
  flex-direction: column;
  align-items: center;
  display: flex;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  transition: opacity 1s $timing-function;

  &.active {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: relative;
  }

  @include desktop {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 66px;
    margin-bottom: 40px;
  }

  &__img {
    display: block;
    margin-top: 12px;
    margin-bottom: 40px;
  }

  &__content {
    @include desktop {
      max-width: 558px;
      width: 100%;
    }
  }
  &__title {
    font-family: $font-family;
    margin-top: 0;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 28px;
    line-height: 140%;
    text-transform: capitalize;
    color: $primary-text-color;

    @include desktop {
      font-size: 44px;
    }

    &--underline {
      position: relative;
      display: inline-block;

      &::after {
        content: '';
        position: absolute;
        opacity: 0;
        left: -2px;
        bottom: 4px;
        z-index: -1;
        width: 0;
        height: 10px;
        background-color: $accent-color;
        border-radius: 10px;

        @include desktop {
          bottom: 10px;
        }
      }

      &.active {
        &::after {
          transition: all 2s $timing-function;
          opacity: 1;
          width: 106%;
        }
      }
    }
  }

  &__description {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: $secondary-text-color;
  }
}
