@use '../utils/variables' as *;
@use '../utils/mixins' as *;

.animation {
  overflow: hidden;
  height: 135px;

  @include desktop {
    height: 188px;
  }
  &__container {
    white-space: nowrap;

    transform: rotate(8deg) translateY(100%);

    @include tablet {
      transform: rotate(-4deg) translateY(100%);
    }

    @include desktop {
      transform: rotate(-5deg) translateY(100%) translateX(1%);
    }

    @include desktop-up {
      transform: rotate(-3deg) translateY(100%) translateX(-7px);
    }
    &--second {
      transform: rotate(-8deg) translateY(0);

      @include tablet {
        transform: rotate(4deg) translateY(3px);
      }

      @include desktop {
        transform: rotate(5deg) translateY(2px);
      }

      @include desktop-up {
        transform: rotate(3deg) translateY(2px);
      }
    }
  }

  &__track {
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    background-color: $accent-color;
    min-width: 200%;
    height: 43px;
    animation: scroll-left 20s linear infinite;
    &:hover {
      animation-play-state: paused;
    }

    @include desktop {
      height: 61px;
      animation: scroll-left 10s linear infinite;
    }

    &--second {
      background-color: $main-bg-color;
      animation: scroll-right 20s linear infinite;

      @include desktop {
        animation: scroll-right 10s linear infinite;
      }
    }
  }

  &__item {
    display: inline-block;
    font-family: $font-family;
    text-transform: uppercase;
    color: #fff;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    line-height: 120%;
    width: 150px;
    text-align: center;

    &--decor {
      background-image: url('../images/svg/text-mob.svg');
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 15px;

      @include desktop {
        background-image: url('../images/svg/text-desk.svg');
        height: 21px;
      }
    }

    @include desktop {
      width: 190px;
      font-size: 24px;
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}
